.crear-prestamo-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
  overflow-y: auto;
  position: relative;
}

.form-container {
  flex: 1;
  display: contents;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.btn {
  background: #004dff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #0056b3;
}
