.pagos-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
  position: relative;
  flex-direction: column; /* En móviles, los elementos se apilan verticalmente */
}

/* Botón de regreso */
button.back-button {
  position: absolute;
  top: 20px;
  left: 40vh;
  display: flex;
  height: 3em;
  width: 120px;
  align-items: center;
  justify-content: center;
  background-color: #888a8b;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
}

button.back-button > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

button.back-button:hover {
  box-shadow: 5px 5px 15px #d1d1d1, -5px -5px 15px #ffffff;
  transform: translateY(-2px);
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .content {
    padding: 10px;
  }

  button.back-button {
    left: 20px;
    width: 100px;
    height: 2.5em;
  }
}
