.pagos-grid {
  padding: 20px;
  width: 100vh;
  margin: 0 auto;
}

.pagos-grid .rdt_Table {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pagos-grid .rdt_TableHeader {
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

.pagos-grid .rdt_TableHeadRow {
  background-color: #848b91;
}

.pagos-grid .rdt_TableRow:hover {
  background-color: #f1f1f1;
}

.pagos-grid .rdt_TableCell {
  padding: 10px;
}

.pagos-grid .btn {
  background-color: #004dff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0 0; 
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 15px;
}

.pagos-grid .btn:hover {
  background-color: #003bb5;
}

.pagos-grid .text-success {
  color: #4caf50;
  font-weight: bold;
}
