.pagos-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
  position: relative;
}

.back-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #004dff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.back-button:hover {
  background-color: #003bb5; /* Un color ligeramente más oscuro en hover */
}

.back-button svg {
  fill: white;
  width: 24px;
  height: 24px;
}
